node_modules

dist

.turbo

coverage

build/**
dist/**
.next/**

.DS_Store

.tmp_publish/**

coverage/tmp/**

.npmrc

.env 

.pnpm-store

.trace_dir

tsconfig.test.tsbuildinfo
apps/docs/public/robots.txt
apps/docs/public/sitemap-0.xml
apps/docs/public/sitemap.xml
apps/docs/pages/solid/changelog.mdx
