@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.dark body {
  background-color: #010101 !important;
}

html[class~="dark"] .dark\:nx-bg-dark {
  background-color: #010101 !important;
}

html[class~="dark"] .nextra-nav-container-blur {
  background-color: #010101 !important;
}
@supports (
  ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)))
) {
  html[class~="dark"] .nextra-nav-container .nextra-nav-container-blur {
    background-color: rgba(1, 1, 1, 0.7) !important;
  }
}

/* Override Nextra defaults */
article.nextra-body-typesetting-article {
  line-height: 1.75;
}
article.nextra-body-typesetting-article p {
  line-height: 1.75 !important;
}

article.nextra-body-typesetting-article h1,
article.nextra-body-typesetting-article h2,
article.nextra-body-typesetting-article h3,
article.nextra-body-typesetting-article h4 {
  line-height: 1.25 !important;
}

html[class~="dark"] .dark\:nx-bg-neutral-900 {
  background-color: #010101 !important;
}
